<div class="container">
    
    <div class="cart">
        <div class="row">
            <div class="col-sm-3">
                <span class="pagetitle">My Cart ({{cartList.length}})</span>
            </div>
        </div>
        <div *ngIf="cartList.length > 0">
            <div class="row cart-item" *ngFor="let product of cartList;let i = index">
                <div class="col-sm-3" >
                    <img [src]="product.product.image" class="img-responsive products"/>
                   
                </div>
                <div class="col-sm-3">
                    <p><b>{{product.product.productName}}</b></p>
                    <p>{{product.product.description}}</p>
                    <p>No of items : {{product.count}}</p>
                    <p><b>Price</b> : Rs. {{product.product.price}}</p>
                </div>
                <div class="col-sm-3" >
                    <a class="btn btn-primary" (click)="removeProductFromCart(product)">Remove</a>
                </div>
                <div class="col-sm-3" *ngIf="i==0">
                    <p><b>Total Amount</b> : Rs. {{totalPrice}}</p>
                    <div>
                        <a class="btn btn-primary" (click)="placeOrder()">Place Order</a>
                    </div>
                </div>
            </div> 
               
        </div>
        
        <div *ngIf="cartList.length == 0" style="text-align: -webkit-center;"> 
            <div class="row cart-item" >
                <div class="">
                    <div>
                        <img src="../assets/empty_cart.jpg" class="img-responsive emptycart"/>
                    </div>
                    <p>No Items in Cart</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
