<header class="header">
    <nav class="navbar navbar-main">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                <span class="icon-bar"></span>    
                <span class="icon-bar"></span>    
                <span class="icon-bar"></span>    
            </button>
          <a href="#"><img class="logo" src="assets/logo.png"></a>
        </div>
        
        <div class="collapse navbar-collapse" id="micon">
            <ul class="nav navbar-nav navbar-right">
              <li><a>Welcome</a></li>
              <li>
                <a href="$" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Onkar Devale</a>
                <ul class="dropdown-menu" aria-labelledby="profile">
                  <li><a href="#">Profile</a></li>
                  <li><a id="orders" 
                    routerLink="/orders" routerLinkActive="active">Orders</a></li>
                  <li><a href="#">logout</a></li>
                </ul>
              </li>
              <li><a href="#"><span class="badge">5</span></a></li>
              <li><a href="$">Cart <span class="badge">1</span></a></li>
            </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-sub">
      <div class="container">
        <div class="row">
        <div class="dropdown col-sm-1">
          <a href="#" class="dropdown-toggle" type="button" id="mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Mobiles
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="mobile">
            <li><a href="#">Smartphones</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">MI</a></li>
            <li><a href="#">Oppo</a></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">Vivo</a></li>
          </ul>
        </div>
        <div class="dropdown col-sm-2">
          <a href="#" class="dropdown-toggle" type="button" id="electronics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Electronics
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="electronics">
            <li><a href="#">TV</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">LG</a></li>
            <li><a href="#">MI</a></li>
            <li><a href="#">Philips</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Refrigerator</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">LG</a></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">Bosch</a></li>
            <li><a href="#">Panasonic</a></li>
          </ul>
        </div>
        <div class="dropdown col-sm-2">
            
            <a class="nav-item nav-link" id="register-product" routerLink="/register-product" routerLinkActive="active">Register Product</a>
     
          </div>
      </div>

      </div>
    </nav>
</header>


<router-outlet></router-outlet>