<div class="container">
<div class="col-sm-12">
    <div [hidden]="submitted">
	<div class="row">
		<div class="col-md-6">
			<h3>{{formName}}</h3>
		</div>
   	
	</div>  
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  
        <div class="row" >
          <div class="col-sm-3">
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input 
                formControlName="productName"
                id="productName" 
                type="text" 
                class="form-control">
            <div *ngIf="f.productName.touched && f.productName.errors" class="alert alert-danger">
                <div *ngIf="f.productName.errors.required">Product name is required.</div>
                <div *ngIf="f.productName.errors.maxLength">Product name should be 20 characters.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"
                 formControlName="description">
        </div>

        <div class="form-group">
          <label for="company">Company Name</label>
          <input type="text" class="form-control" id="company"
          formControlName="company">
        </div>
      </div>
      
        <div class="col-sm-3">
		    <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price"
          formControlName="price">
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity"
          formControlName="quantity">
        </div>
          
        <div class="form-group">
            <label for="file">File</label>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onFileChange($event)">
            <div *ngIf="f.file.touched && f.file.errors" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
        </div>
        </div>
        </div>
              
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
</div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
		<div class="container">
        <div class="row">
          <label class="col-xs-3"><b>Product Name</b></label>
          <div class="col-xs-9">{{ model.productName }}</div>
        </div>
        <div class="row">
          <label class="col-xs-3"><b>Description</b></label>
          <div class="col-xs-9">{{ model.description }}</div>
        </div>
        <div class="row">
          <label class="col-xs-3"><b>Company</b></label>
          <div class="col-xs-9">{{ model.company }}</div>
        </div>
        <div class="row">
          <label class="col-xs-3"><b>Price per Item</b></label>
          <div class="col-xs-9">{{ model.price }}</div>
        </div>
		    <div class="row">
          <label class="col-xs-3"><b>Quantity</b></label>
          <div class="col-xs-9">{{ model.quantity }}</div>
        </div>
		 
        <button class="btn btn-primary" [routerLink]="['/products']">Products</button>
      </div>

      <div>
        <span>{{message}}</span>
      </div>
     	  </div>
  </div>